<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.6.1/superhero/bootstrap.min.css" integrity="sha512-kmhf+vQd79E65jPQgcm00GVyd27dtzqE++i3X1AXDHp7eXJPbzLGMOLZYdor7874/q886/3q7l5x7A8IWgouug==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
  

  <!-- -->
  <form>
    <fieldset>
      <legend>Legend</legend>
      <div class="form-group row">
        <label for="exampleInputPassword1" class="form-label mt-4">Full Name</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="full name">
        <label for="exampleInputEmail1" class="form-label mt-4">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        <label for="exampleInputPassword1" class="form-label mt-4">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        <label for="exampleInputPassword1" class="form-label mt-4">Phone Number</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Phone Number">
      </div>
      <button type="submit" class="btn btn-secondary">Submit</button>
    </fieldset>
  </form>
  <!--  -->

  <!-- Login -->
  <form>
    <fieldset>
      <legend>LOG IN HERE</legend>
      <div class="form-group row">
        <label for="exampleInputEmail1" class="form-label mt-4">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        <label for="exampleInputPassword1" class="form-label mt-4">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-secondary">Submit</button>
    </fieldset>
  </form>
  <!--  -->

    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">GYM-FREAKS!</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="row collapse navbar-collapse" id="navbarColor01">
          <div>
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link active" href="#">Home
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">My Threads</a>
              </li>
            </ul>
          </div>
          <div>
            <ul class="navbar-nav me-auto">
              <li class="nav-item"><a class="nav-link" href="#">sign out</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <!--  -->

<!-- home -->

<!--  -->

<!-- comment -->
<div class="form-group">
  <label for="exampleTextarea" class="form-label mt-4">Example textarea</label>
  <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
  <button type="submit" class="btn btn-secondary">Submit</button>
</div>
<!--  -->

<!-- post a threads -->
<form>
  <fieldset>
    <legend>Post A thread</legend>
    <div class="form-group row">
      <label for="exampleInputPassword1" class="form-label mt-4">Title</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="full name">
      <label for="exampleTextarea" class="form-label mt-4">description</label>
      <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-secondary">Submit</button>
  </fieldset>
</form>
<!--  -->



</body>
</html>